/* ===== GRID LAYOUT ===== */

.pack-list {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    gap: 2rem;
    font-family: "Lexend Deca", sans-serif;
}

/* ===== PACK LEVEL BUTTONS (RESTORE OLD LOOK) ===== */

.pack-level-btn {
    background-color: var(--color-background);
    color: white;
    border: none;
    border-radius: 3rem;

    padding: 1rem;
    text-align: start;

    word-break: normal;
    overflow-wrap: anywhere;
    cursor: pointer;

    background-size: 100% 100% !important;
}

.pack-level-btn:hover {
    background-color: var(--color-background-hover);
    color: var(--color-on-background-hover);
}

.pack-level-btn.active {
    background-color: rgba(255,255,255,.5);
    color: black;
}

.pack-level-btn.error {
    color: var(--color-error);
    cursor: not-allowed;
    text-decoration: line-through;
}

/* ===== LEVEL PANEL FIXES ===== */

.pack-list .level-container {
    min-width: 0;
    display: flex;
    justify-content: center;
}

.pack-list .level-container .level {
    width: 100%;
    max-width: 48rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.pack-list .level-container .video {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.pack-list .level-container .records {
    width: 100%;
    table-layout: fixed;
}
