/* --- Packs Title --- */
.pack-title {
    margin-top: 120px; /* space under top nav */
    font-family: "Lexend Deca", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    color: white;
    text-align: center;
}

/* --- Packs Navigation --- */
.packs-nav {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
}

.packs-nav button {
    background-color: var(--color-background-hover);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.75rem;
    padding: 1rem;
    font-family: "Lexend Deca", sans-serif;
    cursor: pointer;
    text-align: center;
}

.packs-nav button:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

/* --- List Container --- */
.pack-list .list-container {
    margin-top: 20px;
    padding: 2rem 1rem;
}

.pack-list .list .level button {
    background-color: var(--color-background);
    color: var(--color-on-background);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    font-family: "Lexend Deca", sans-serif;
    font-size: 1rem;
    cursor: pointer;
}

.pack-list .list .level.active button {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

/* --- Level Container --- */
.pack-list .level-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pack-list .level-container .level h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}

.pack-list .level-container .level .level-authors {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
}

.pack-list .level-container .level .packs {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.pack-list .level-container .level .tag {
    font-family: "Lexend Deca", sans-serif;
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    text-shadow: 1px 1px 2px black;
}

/* --- Video --- */
.pack-list .level-container .video {
    width: 100%;
    max-width: 560px;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
}

/* --- Stats --- */
.pack-list .level-container .stats {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: center;
}

.pack-list .level-container .stats li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

/* --- Records Table --- */
.pack-list .records {
    table-layout: fixed;
    margin: 0 auto;
    width: 80%;
}

.pack-list .records tr td {
    padding: 0.5rem;
    text-align: center;
}
