.pack-list {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 2rem;
}

.pack-boxes-container {
    margin-top: 70px;
    padding: 2rem 1rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
    align-content: start;
}

.pack-list .level-container {
    display: flex;
    justify-content: center;
}

.pack-list .level-container .level {
    width: 100%;
    max-width: 48rem;
}
